<div class="row">
  <div class="col-md-6">
    <canvas id="board"></canvas>
  </div>
  <div class="col-md-3">
    <% battle.robots.each do |robot| %>
      <div class="stat robot-<%= robot.username %>">
        <h2>
          <img src="https://identicons.github.com/<%= robot.username %>.png" width="24" height="24"> 
          <%= robot.username %> 
          <small>0</small> 
        </h2>
        <div class="progress health">
          <div class="progress-bar progress-bar-danger" style="width: <%= robot.armor * 20 %>%">
            <span class="sr-only"><%= robot.armor %></span>
          </div>
        </div>
        <div class="btn-group ammo" title="ammo">
          <% 10.times do |i| %>
            <button type="button" class="btn btn-xs <%= robot.ammo > i ? 'btn-info' : 'btn-default' %>">&nbsp;</button>
          <% end %>
        </div>
        <small class="help-block">
          <%= robot.turns.last %>
        </small>
        <small class="help-block">
          <%= robot.power_ups.map(&:name).join(', ') %>
        </small>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="3">Leaderboard</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td><img src="https://identicons.github.com/zero.png" width="24" height="24"></td>
          <td>zero</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 

<script type="text/javascript">
  $(function() {
    var json = <%= json %>;
    new kablammo.Battle(json).render();
  })
</script>
