<div class="battle">
  <div class="board">
    <% battle.board.rows.reverse.each do |row| %>
      <div class="row">
        <% row.each do |square| %>
          <div class="square square-<%= square.x %>-<%= square.y %>"><img/></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="stats">
    <% battle.robots.each do |robot| %>
      <div class="stat robot-<%= robot.username %>">
        <img src="https://identicons.github.com/<%= robot.username %>.png"/>
        <div class="username"><%= robot.username %></div>
        <table>
          <tr class="rotation"><th>Rotation</th><td><%= robot.rotation %></td></tr>
          <tr class="armor"><th>Armor</th><td><%= robot.armor %></td></tr>
          <tr class="ammo"><th>Ammo</th><td><%= robot.ammo %></td></tr>
          <tr class="last-turn"><th>Last Turn</th><td><%= robot.turns.last %></td></tr>
        </table>
      </div>
    <% end %>
  </div>
  
  <div class="buttons">
    <span class="link turn">Turn</span> |
    <span class="link play">Play</span> |
    <a href="/battles/new">New</a>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var json = <%= json %>;
  new kablammo.Battle(json).render();
})
</script>
