<div class="row">
  <div class="col-md-8">
    <canvas id="board"></canvas>
  </div>
  <div class="col-md-4">
    <% battle.turns[0].robots.each do |robot| %>
      <div class="stats" id="stats-<%= robot.username %>">
        <h2>
          <canvas class="robot" id="robot-<%= robot.username %>"></canvas>
          <script type="text/javascript">
            $(function() {
              var hash = ('<%= robot.username %>').hashCode();
              var avatar = kablammo.Visualization('robot-<%= robot.username %>', 1, 1, [], [{id: hash, color: Math.abs(hash % 4), 'turns': [{'x': 0, 'y': 0}]}]);
              avatar.draw();
            })
          </script>
          <%= robot.username %> 
          <small>
            <%= robot.strategy.score %>pts
          </small> 
        </h2>
        <div class="progress health">
          <div class="progress-bar progress-bar-danger" style="width: <%= robot.armor * 20 %>%">
            <span class="sr-only"><%= robot.armor %></span>
          </div>
        </div>
        <ul class="ammo list-unstyled">
          <% 10.times do |i| %>
            <li class="<%= robot.ammo > i ? 'ammo-full' : 'ammo-empty' %>">&nbsp;</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="turns">
    </div>
  </div>
</div> 

<script type="text/javascript">
  $(function() {
    var json = <%= json %>;
    new kablammo.Battle(json).render();
  })
</script>
