<div class="page-header">
  <h1>All Robots</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Leaderboard</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% strategies.each_with_index do |strategy, idx| %>
      <tr>
        <td>
          <a href="/strategies/<%= strategy.id %>">
            <img src="https://identicons.github.com/<%= strategy.username %>.png" width="24" height="24">
          </a>
        </td>
        <td>
          <a href="/strategies/<%= strategy.id %>">
            <%= strategy.username %>
          </a>
        </td>
        <td>
          <%= scoreboard[strategy.username].nil? ? 'N/A' : scoreboard[strategy.username] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="<%= url('/strategies/new') %>" class="btn btn-primary">Add Robot</a>
</p>