<h2>All Strategies</h2>

<a href="/strategies/new">Add new</a>

<table class="strategies table table-striped">
  <tr>
    <th>User</th>
    <th>Path</th>
    <th>Repo</th>
    <th>Wins/Losses</th>
  </tr>
  <% strategies.each_with_index do |strategy, idx| %>
  <tr class="<%= (idx % 2) > 0 ? 'odd' : 'even' %>">
    <td><a href="/strategies/<%= strategy.id %>"><%= strategy.username %></a></td>
    <td><%= strategy.path %></td>
    <td><%= strategy.github_url %></td>
    <td><% if scores = scoreboard[strategy.username] %>
      <%= "%d/%d" % [scores[:wins], scores[:losses]] %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
