<h2>All Strategies</h2>

<a href="/strategies/new">Add new</a>

<table class="strategies table table-striped">
  <tr>
    <th>User</th>
    <th>Repo</th>
    <th>Overall Score</th>
  </tr>
  <% strategies.each_with_index do |strategy, idx| %>
  <tr class="<%= (idx % 2) > 0 ? 'odd' : 'even' %>">
    <td>
      <div class="gravatar">
        <% g = strategy.gravatar %>
        <% if (g) %>
        <img src="<%= g %>">
        <% end %>
      </div>
      <div class="user">
        <a href="/strategies/<%= strategy.id %>"><%= strategy.username %></a>
      </div>
    </td>
    <td><%= strategy.github_url %></td>
    <td>
      <%= scoreboard[strategy.username].nil? ? 'n/a' : scoreboard[strategy.username] %>
    </td>
  </tr>
  <% end %>
</table>
