<h1>
  Leaderboard
  <a href="<%= url('/strategies/new') %>" class="btn btn-primary pull-right">Add Your Robot</a>
</h1>


<table class="table leaderboard">
  <thead>
    <tr>
      <th></th>
      <th>Player</th>
      <th>Robot</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% strategies.each_with_index do |strategy, i| %>
      <tr>
        <td>
          <%= i + 1 %>.
        </td>
        <td>
          <img class="gravatar" src="<%= strategy.gravatar rescue nil %>">
          <%= strategy.username %>
        </td>
        <td>
          <a href="/strategies/<%= strategy.id %>"><%= strategy.name %></a>
        </td>
        <td>
          <%= scoreboard[strategy.id].nil? ? 'N/A' : scoreboard[strategy.id] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
