<h1>Show Robot</h1>
<table class="table">
  <tr>
    <td><label>Github URL</label></td>
    <td>
      <%= strategy.github_url %>
    </td>
  </tr>
  <tr>
    <td><label>User</label></td>
    <td>
      <%= strategy.username %>
    </td>
  </tr>
  <tr>
    <td><label>Local Repo path</label></td>
    <td>
      <%= strategy.path %>
    </td>
  </tr>
  <tr>
    <td><label>SHA</label></td>
    <td>
      <%= strategy.sha %>
    </td>
  </tr>
</table>

<form action="/strategies/<%= strategy.id %>/pull">
  <input type="submit" class="btn btn-primary" value="Fetch the latest">
</form>