<h1>
  <canvas id="robot" class="robot"></canvas>
  <%= strategy.name %>
</h1>

<h2>
  <img class="gravatar" src="<%= strategy.gravatar %>">
  <%= strategy.username %>
</h2>

<h3><%= strategy.github_url %></h3>
<h4><%= strategy.sha %></h4>


<form action="/strategies/<%= strategy.id %>/pull">
  <input type="submit" class="btn btn-default" value="Reload Robot Repo">
  <a href="<%= url('/battles/new') %>" class="btn btn-primary">Go to the Arena</a>
</form>

<script type="text/javascript">
  $(function() {
    var hash = ('<%= strategy.username %>').hashCode();
    var robot = kablammo.Visualization('robot', 1, 1, [], [{id: hash, color: Math.abs(hash % 10), 'turns': [{'x': 0, 'y': 0, 'armor': 1}]}]);
    robot.draw();
  })
</script>
