<div class="board">
  <% board.rows.reverse.each do |row| %>
    <div class="row">
      <% row.each do |square| %>
        <div class="square square-<%= square.x %>-<%= square.y %>"><img/></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="stats">
  <% board.tanks.each do |tank| %>
    <div class="stat tank-<%= tank.username %>">
      <img src="https://identicons.github.com/<%= tank.username %>.png"/>
      <div class="username"><%= tank.username %></div>
      <table>
        <tr class="rotation"><th>Rotation</th><td><%= tank.rotation %></td></tr>
        <tr class="armor"><th>Armor</th><td><%= tank.armor %></td></tr>
        <tr class="ammo"><th>Ammo</th><td><%= tank.ammo %></td></tr>
        <tr class="last-turn"><th>Last Turn</th><td><%= tank.last_turn %></td></tr>
      </table>
    </div>
  <% end %>
</div>

<div class="buttons">
  <span class="link turn">Turn</span> |
  <span class="link play">Play</span> |
  <a href="/boards/<%= board.name %>/reset">Reset</a>
</div>

<script type="text/javascript">
$(function() {
  var json = <%= json %>;
  new kablammo.Board(json).render();
})
</script>
