<div class="board">
  <% board.rows.reverse.each do |row| %>
    <div class="row">
      <% row.each do |square| %>
        <div class="square square-<%= square.x %>-<%= square.y %>"><img/></div>
      <% end %>
    </div>
  <% end %>
</div>

<br/>
<% board.tanks.each do |tank| %>
  <div><%= tank.stats %></div>
<% end %>

<br/>
<% if play %>
  <a href="/boards/<%= board.name %>">Stop</a> |
<% else %>
  <a href="/boards/<%= board.name %>/turn">Turn</a> |
  <a href="/boards/<%= board.name %>/play">Play</a> |
<% end %>
<a href="/boards/<%= board.name %>/reset">Reset</a>

<script type="text/javascript">
var board = <%= MultiJson.dump board %>;
var fires = <%= MultiJson.dump fires %>;
var play  = <%= play %>;
$(function() {
  new kablammo.Board(board, fires, play).render();
})
</script>
