<!DOCTYPE html>
<html>
  <head>
  <title>Kablammo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= css :application, media: 'screen' %>
  <%= js :application %>
  <script type="text/javascript" src="//use.typekit.net/qgc0nht.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-620051-18', 'kablammo.io');
    ga('send', 'pageview');
  </script>
  </head>
  <body class="<%= session[:autoplay] == 'on' ? 'autoplay' : '' %>">
    <div class="navbar navbar-default navbar-static navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kablammo</a>
        </div>
        <div class="navbar-collapse collapse">
          <% active_nav = 'home' if !defined?(active_nav) %>
          <ul class="nav navbar-nav">
            <li<%= active_nav == 'docs' ? ' class="active"' : '' %>>
              <a href="<%= url('/docs') %>">Docs</a>
            </li>
            <li<%= active_nav == 'rules' ? ' class="active"' : '' %>>
              <a href="<%= url('/rules') %>">Rules</a>
            </li>
            <li<%= active_nav == 'robots' ? ' class="active"' : '' %>>
              <a href="<%= url('/strategies') %>">Robots</a>
            </li>
            <li<%= active_nav == 'arena' ? ' class="active"' : '' %>>
              <a href="<%= url('/battles/new') %>">Arena</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="text-center">
      <a href="http://carbonfive.com">
        <img src="/img/carbonfive.png" width="42" height="42"><br>
        <small>Carbon Five</small>
      </a>
    </footer>
  </body>
</head>
